body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

.theme-toggle-container {
  text-align: center;
  margin-top: 2rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: black;
}

button:hover {
  background-color: green;
}
