body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  transition: background-color 0.3s ease;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: orange;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: green;
}
